@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: " sans-serif";
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6faf79e;
}
.history_page {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.history_header {
  height: 89px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 3px 5px 0px rgba(22, 18, 18, 0.934);
  background: #8359b9;
  position: relative;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header > span {
  border: 1px solid;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  margin-top: 0.2rem;
  margin-left: 10px;
}
.header > h2 {
  width: 8rem;
  line-height: 2rem;
  border-radius: 3rem;
  background-color: snow;
  box-shadow: 0px 2px 3px 0px black;
  align-self: baseline;
  margin-top: 0.5rem;
  margin-right: 1rem;
}
.header > h2 > p {
  color: rgb(54, 5, 103);
}

.history_header div:nth-child(2) {
  position: absolute;
  top: -15%;
  right: -30%;
  width: 10rem;
  height: 12rem;
  border-radius: 2.5rem;
  rotate: 25deg;
  background-color: #1814d0;
  z-index: -1;
}

.history_header div:nth-child(3) {
  position: absolute;
  top: 35%;
  right: 7%;
  width: 6rem;
  height: 6rem;
  border-radius: 3.2rem;
  background-color: #ad1f85;
  z-index: -1;
}

.history_header div:nth-child(4) {
  position: absolute;
  top: 65%;
  right: 25%;
  width: 3rem;
  height: 3rem;
  border-radius: 3.5rem;
  background-color: #11c6d1;
  z-index: -1;
}

/* --------------- styling the main body of the history page --------------------------------------------------------------------------- */

.bet_history_body {
  margin: 0 auto;
  width: 95%;
  margin-top: 4.5rem;
  height: calc(100% - 25%);
}
.bet_history {
  height: calc(100% - 10%);
}
.bet_history > h2 {
  color: rgba(0, 0, 0, 0.698);
}
.win_body {
  margin-top: 1rem;
  overflow-y: scroll;
  height: 95%;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  padding-bottom: 2rem;
  text-transform: capitalize;
}
.win_body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.win {
  height: 47%;
  margin-bottom: 0.8rem;
}
.win > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;

  background-color: #88828ccf;
  color: rgba(255, 255, 255, 0.674);
}

.products {
  height: calc(100% - 15%);
}
.products > div {
  width: 100%;
  height: 100%;
  background: url("eight2.jpg");
  background-size: cover;
}

.bet_one_f {
  height: calc(100% - 17%);
  display: flex;
  justify-content: space-between;
}
.descrp {
  width: 70%;
  padding: 1.5rem 0 0 2rem;
  text-align: start;
  overflow: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
.descrp::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.wins_loss {
  width: 100%;
  height: 17%;
  color: rgba(255, 255, 255, 0.815);
  /* background-color: rgba(255, 0, 0, 0.575); */
  display: grid;
  place-content: center;
}
.wins_loss > span > h3 {
  display: flex;
  justify-content: center;
}
.wins_loss > span > h3 > p {
  margin-left: 0.5rem;
}
.items {
  width: 20%;
  height: 55%;
  margin: 1.5rem 1.1rem 0 0;
  background: url("i.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #b2beb5; */
}

hr {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgba(0, 0, 0, 0.357);
}

/* ------------ creating the footer for the history page ------------------------------------------------------------------------------------------------------------------------- */

#footer {
  position: absolute;
  bottom: 4rem;
  left: 2.5%;
  width: 95%;
  height: 60px;
  z-index: 10;
  background: #f8f8f8;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 100vw;
  box-shadow: 0 0 10px grey;
}

#footer > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;

  justify-content: center;
  align-items: center;
}

#footer > div > ion-icon {
  font-size: 25px;
}

#footer > div > a > h6 {
  color: blue;
}

#footer > div > a {
  text-decoration: none;
}

.footer-crown {
  display: none !important;
}

.updated-footer {
  grid-template-columns: repeat(5, 1fr) !important;
}

.crown-added {
  border-radius: 100%;
  transform: translateY(-40%);
  background: white;
}

@media screen and (max-height: 667px) {
  .win {
    height: 45%;
    margin-bottom: 1rem;
  }

  .bet_history_body {
    margin-top: 3.5rem;
    height: calc(100% - 32%);
  }
  .win_body {
    margin-top: 0.5rem;
  }
}

@media screen and (max-height: 667px) {
  .wins_loss {
    color: black;
  }
}

/* ------------------------------------------------------------------------------------ styling the result popup box ------------------------------------------------------------ */
.result_popup {
  border: 2px solid;
  width: 95%;
  height: 40%;
  margin: 0 auto;
  transition: all .5s ease-out;
  transform: translateY(65vh);
}
.backgd {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.backgd > h2 {
  border: 1px solid;
  max-width: 70%;
  margin: 1.5rem auto 3rem auto;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.backgd > h2 > p {
  margin-left: 0.5rem;
  margin-right: .5rem;
}



/* ------------ footer for pc------------ */

.fa-2x {
  font-size: 2em;
}

ion-icon {
  width: 60px;
  height: 36px;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 23px;
}

.main-menu,
nav.main-menu {
  width: 200px;
  overflow: visible;
}

.main-menu {
  background: #8359b9;
  position: absolute;
  top: 88px;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  z-index: 5;

}

.main-menu > ul {
  margin: 3.13rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.main-menu li {
  position: relative;
  border-bottom: 2px solid rgb(221, 216, 216);
  display: block;
  padding-top: 8px;
  padding-bottom: 7px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: black;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  text-align: start;
  text-transform: uppercase;
  /* -webkit-transform:translateZ(0) scale(1,1); */
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
}
.main-menu li .nav-text {
  padding: 0 0.25rem;
}
.main-menu li:hover .nav-text {
  background-color: white;
  color: black;
  border-bottom-left-radius: 10px;
}

.main-menu li i {
  background: #8d66be;
}
.main-menu::after {
  content: "";
  height: 6.3rem;
  width: 6.3rem;
  background-color: white;
  position: absolute;
  top: -3.6rem;
  left: 1.1rem;
  border-radius: 100%;
}

/* -----------------pc media query ----------------0 */
@media screen and (min-width: 490px) {
  #footer {
    display: none;
  }

  .header > span {
    scale: 0;
  }

  .bet_history_body {
    width: calc(100% - 240px);
    margin-left: 220px;
  }

  .win {
    height: 55%;
  }
    .history_header div:nth-child(2) {
    top: 10px;
    right: -130px;
  }
  
  .history_header div:nth-child(3) {
    top: 35px;
    right: 7px;
  }
  
  .history_header div:nth-child(4) {
    top: 65px;
    right: 80px;
  }
  .products > div {
    background:none;
  }
}
 @media screen and (max-width:1024px) and (min-width:650){
  .items {
    width: 10%;
    height: 50%;
  }   
 }

/* -------------- phone media query ------------ */

@media screen and (max-width: 490px) {
  .main-menu {
    display: none;
  }
}
